body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	border-top: gray solid;
}

nav {
	box-sizing: inherit;
	position: sticky;
	top: 1px;
	background-color: white;
	padding: 2px;
	width: 100%;
	height: 11vh;
	display: inherit;
	z-index: 1;

}

.nav-logo {
	box-sizing: inherit;
	color: rgb(57,53,54);
	cursor: pointer;
	display: block inline;
	font-size: 15px;
	font-weight: 400;
	height: 28;
	line-height: 50px;
	max-height: 100%;
	text-decoration: auto;
	text-rendering: optimizeLegibility;
	width: 90px;
	padding-left: 80px;
	position: absolute;
	float: left;
}

.right-nav {
	margin-left: 450px;
}
.right-nav .nav {
	box-sizing: border-box;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	margin-left: 40px;
	transform-style:inherit;

}

ul {
	list-style: none;
}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 40px;
	border-style: initial;
	color: white;
	background-size: 50px;
	padding: 8px;
	font-weight: bold;
	font: inherit;
	cursor: pointer;

	
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	height: 99vh;
	background-repeat: no-repeat;
	z-index: 2;

}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	opacity: 10;
	background-size: 100%;
	height: 99vh;
	z-index: 3;
	/*position: inherit;
	display: inherit;*/
}

.container {
	box-sizing: border-box;
	display: block;
	z-index: 4;
	vertical-align: middle;
	text-align: right;
	padding-top: 250px;
	padding-left: 700px;
	padding-right: 100px;
}

.title {
	font-size: 40px;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	font-family: 'Zilla Slab', serif;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 20px;
	font-weight: lighter;
	text-rendering: optimizeLegibility;
	margin-top: 2px;
	margin-left: 150px;
}

.apply-button {
	background-color: #c2195b;
	border-radius: 40px;
	border-style: initial;
	color: white;
	background-size: 50px;
	padding: 8px 30px 8px 30px;
	font-weight: bold;
	font: inherit;
	cursor: pointer;
}

.title-2 {
	font-size: 25px;
	font-weight: bolder;
	text-rendering: optimizeLegibility;
	font-family: 'Zilla Slab', serif;
	text-align: center;
	margin-top: 50px;

}

.pre-footer {
	background-color: #f7fbfb;
	height: 50vh;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.intro-description {
	text-align: justify;
	margin: 3rem 10rem 3rem 10rem;
}

.prefooter-description {
	text-align: center;
	margin: 3rem 9rem 1rem 9rem;
}

.book-button {
	position: relative;
	background-color: #336589;
	border-radius: 25px;
	border-style: none;
	color: white;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	font-weight: bold;
	font: inherit;
	cursor: pointer;
	align-items: center;
	text-align: center;
	text-rendering: optimizeLegibility;
}

footer {
	box-sizing: border-box;
	display: block;
	text-align: center;
}

span {
	font-size: small;
	margin: 5px;
}